<div class="searchResults" *ngIf="toggleResults">
  <h3 class='name'>{{name}}</h3>
  <img width="300" alt="Pikachu" src={{image}}>
  <h4>Type:
    <ul class='types'>
      <li *ngFor="let type of types">{{type}}</li>
    </ul>
  </h4>
  <div class='battleResults'>
      <p>Play one of these against a {{name}}!</p>
      <div class='resultsList'>
        <h4>Super effective {{name}} killers:
          <ul class='types'>
            <li *ngFor='let type of battleBias.resistantTo'>{{type}}</li>
          </ul>
        </h4>
        <h4>{{name}} becomes weaker when fighting:
          <ul class='types'>
            <li *ngFor='let type of battleBias.vulnerableTo'>{{type}}</li>
          </ul>
        </h4>
      </div>
  </div>
</div>

