.searchResults {
    border: 1px solid gray;
    margin: 2rem 2rem 2rem 2rem;;
    box-shadow: 5px 5px 3px -2px #888888;

    .name {
        background-color: #81d38b;
        margin-top: 0;
        padding: .5em;
    }
}

.types {
    list-style: none outside none;
    padding: 0;
    margin: .5rem;
}

.battleResults {
    border: 1px solid #7d85b1;
    border-radius: 5px;
    margin: 1rem;
}

.againstResults {
    border-right: 1px solid #7d85b1;
}

.againstResults, .toResults {
    padding: 1rem
}

.resultsList {
    display: flex;
    justify-content: space-around;
}