.starterImage {
    padding: 2rem;
}

.spinner {
    padding: 2rem;
}

.ui-g {
    width: 25rem;
}

.searchContainer {
    display: flex;
    justify-content: space-around
}

.ui-md-4 {
    width: 100%;
}